{% extends 'base/layout.html' %}
{% load crispy_forms_tags %}

{% block title %} Login {% endblock title %}

{% block content %}
    <h1 class="display-4 text-center">Login</h1>

    {% if form.errors %}
        <p>Incorrect username or password. Please try again.</p>
    {% else %}
        <p>Use the following form to login:</p>
    {% endif%}

    <form method='POST' action="{% url 'login' %}">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="hidden" name="next" value="{{next}}">
        <button type='submit'>Submit</button>
    </form>

    <p>
        <a href="{% url 'password_reset' %}">Forgotten your password?</a>
    </p>

{% endblock content %}