{% extends 'base/layout.html' %}

{% load static %}

{% block title %} Game List {% endblock title %}

{% block content %}
  <h3 class="display-4 text-center mb-3"> New Games! </h3>
  <div class="card mb-3 text-center m-auto" style="max-width: 90%;">
      <img src="{% static 'img/cyberpunk2.jpg' %}" class="card-img-top" alt="cyber">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
  </div>

  <div class="card mb-3 text-center m-auto" style="max-width: 90%;">
      <img src="{% static 'img/mortal1.jpg' %}" class="card-img-top" alt="cyber">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
  </div>

  <div class="card mb-3 text-center m-auto" style="max-width: 90%">
      <img src="{% static 'img/alien1.webp' %}" class="card-img-top" alt="cyber">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
  </div>

  <!--
  <ul>
      {% for game in games %}
      <li> <strong>Title: </strong> {{ game.title }} </li>
      <li> <strong>Developer:</strong> {{ game.developer }}</li>
      <li> <strong>Price:</strong> ${{ game.price }}</li>
      <li> <strong>Release:</strong> {{ game.release }}</li><br>
      {% endfor %}
  </ul>-->

  {%for game in games %}
    <div class="card" style="width: 18rem;">
      {% if game.cover %}
        <img src="{{ game.cover.url }}" class="card-img-top" alt="game cover">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ game.title }}</h5>
        <a href="#" class="btn btn-primary">To Market</a>
      </div>
    </div>
  {% endfor %}

{% endblock content %}