{% extends 'base/layout.html' %}

{% load static %}

{% block title %} Details {% endblock title %}

{% block content %}

    <h3 class="display-4 text-center"> {{ game.title }} </h3>

    {% if game.cover %}
        <div class="container">
            <img src="{{ game.cover.url }}" alt="game cover">
        </div>
    {% endif %}

    <h4> <strong>Developer:</strong> {{ game.developer }} </h4>
    <h4> <strong>Price:</strong> ${{ game.price }} </h4>
    <h4> <strong>Release:</strong> {{ game.release }} </h4>

    <form action="{% url 'cart:cart_add' game.id%}" method="post">
        {{ cart_game_form }}
        {% csrf_token %}
        <input type="submit" value="Add to cart">
    </form>

{% endblock content %}
